@import "~bootstrap/scss/bootstrap";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.MainForm {
  padding: 20px;
  margin: 0 auto;
  max-width: 900px;
}

//.leftBlock {
//  max-width: 500px;
//}
//.rightBlock {
//  max-width: 350px;
//}

.mainColor {
  background-color: #063BAE;
}
@include media-breakpoint-down(md) {
  .rightBlock {
    max-width: 100%;
  }
}